{% extends 'card_generator/base.html' %}
{% load static %}

{% block content %} 

  

  <div class="container centered">
    <div class="text-center">

      <h2>
        <p>Welcome to Anki Thai Card Generator</p>
      </h2>


      <h3>
        <p>
          เคยมั้ย? อยากท่องศัพท์ แต่ไม่มีรู้จะเริ่มยังไง นั่งท่องจำก็น่าเบื่อ 
        </p>
      </h3>

      <h3>
        <p>
          เว็บนี้จะช่วยให้คุณสามารถสร้าง Flash Card เพื่อจดจำคำศัพท์ภาษาญี่ปุ่นและอังกฤษ ได้อย่างง่ายดาย
        </p>
      </h3>

      <br>
      <img src="{% static 'card_generator/images/home_page/app_flow.png' %}" 
      width="100%" height="400">
      <br>
      <br>

      <h3>
        <p>
          เพียงแค่คุณมีคำศัพท์ที่อยากจำจดได้<br>
          เว็บนี้จะทำการค้นหาความหมาย คำใกล้เคียง การออกเสียง<br>
          ให้ออกมาอยู่ในรูป Anki Deck พร้อมนำไปใช้งานทันที
        </p>
      </h3>

    

    </div>
  </div>

{% endblock %}