{% extends 'card_generator/base.html' %}
{% load static %}

{% block content %} 

  <h2>Shared Deck List</h2><br>
  Available: <span class="badge">{{ all_posts|length }}</span> decks
  {% for post in all_posts %}
  <div class="row" style="background-color: 
    rgba{% cycle '(186,225,255)' '(186,255,201)' '(255,255,186)' '(255,223,186)' '(255,179,186)' %}">
    <div class="col-sm-10">
      <h2> Deck: {{ post.auth_name }}
        <small>create by {{ post.auth_name }}</small>
        <small>Sep 29, 2015, 9:12 PM</small> </h2>
      <p>{{ post.comment }}</p>
      <br>
    </div>
    <div class="col-sm-2 text-center">
      <div class="row">
        Download apkg
      </div>
      <div class="row">
        <img src="{% static 'card_generator/images/megane_hikaru_man.png' %}" class="img-circle" height="65" width="65"
          alt="Avatar">
      </div>
    </div>
    <div class="text-center">
      <textarea cols="1" style="height: 125px;width: 95%;border-radius: 30px; resize: none; font-size: 25px;">
        {{ post.input_box }}  
      </textarea>
    </div>
  </div>
  <div class="row" 
  style="background: linear-gradient(
    rgba{% cycle '(186,225,255)' '(186,255,201)' '(255,255,186)' '(255,223,186)' '(255,179,186)' %}, 
    rgba{% cycle '(186,255,201)' '(255,255,186)' '(255,223,186)' '(255,179,186)' '(186,225,255)' %});">
    <hr>
  </div>
  {% endfor %}

{% endblock %}