.card {
 font-family: arial;
 font-size: 20px;
 text-align: center;
 color: black;
 background-color: white;
}

.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: #586e75;
    background-color: #fdf6e3;
}

.cloze {
    font-weight: bold;
    color: #268bd2;
}
